<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 文档：https://mybatis.org/mybatis-3/zh/configuration.html#typeAliases -->
    <settings>
        <!-- 数据库下划线字段自动映射为驼峰属性 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
    </typeAliases>
</configuration>